#menu {
        position: relative;
        z-index: 10;
	padding: 0;
	}

.menu_resize {
        position: relative;
        z-index: 10;
	margin: 0 auto;
	padding: 0;
	width: 970px;
	height: 45px;
  background-color:#0F2540; }
#menu ul {
        position: relative;
        z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
	float: left;
  }
#menu ul.menu {
        position: relative;
        z-index: 10;
	font-size: 16px;
	 margin: 0 0 0 5px; }
#menu li {
        position: relative;
        z-index: 10;
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
    float: left; }
#menu li:hover>ul {
    left: 0px; }
#menu a {
    position: relative;
    z-index: 10;
    height: 45px;
    display: block;
    float: left;
    line-height: 45px;
    text-decoration: none;
	font-family: Arimo, Calibri;
	letter-spacing: 1px; }
#menu a:hover, div#menu a:hover span {
	color: #fff;
}
#menu li.current a {

}
#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0; }
#menu ul ul a.parent span {
    background-position: 95% 12px;
    background-image: url(../images/mainmenu/item-pointer.gif); }
#menu ul ul a.parent:hover span {
    background-image: url(../images/mainmenu/item-pointer-mover.gif); }
/* menu::level1 */
#menu a {
    padding: 0 12px 0 12px;
    line-height: 30px;
    color: #e5e5e5; }
#menu span {
    margin-top: 5px; }
/**@replace#1*/
#menu li {
	/*background: url(../images/mainmenu/main-delimiter.jpg) 98% 5px no-repeat;*/
  }
#menu li.last {
	background: none; }
/* menu::level2 */
#menu ul ul li {
	background: none; }
#menu ul ul {
    position: absolute;
    top: 42px;
    left: -999em;
    width: 225px;
    padding: 5px 0 0 0;
    background: #0F2540;
    margin-top: 1px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 36px;
    color: rgb(169,169,169);
}
#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 15px;
    color: rgb(169,169,169); }
#menu ul ul a:hover span {
    color: #fff; }
#menu ul ul li.last {
	background: none; }
#menu ul ul li {
    width: 100%; }
/* menu::level3 */
#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 225px !important;
}
/* colors */
